/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

.search {
  width: 100px;
  height: 35px;
  color: black;
}

.load-more {
  background-color: burlywood;
}
