/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

.load-more {
  width: 50px;
  height: 35px;
  color: aquamarine;
}
